*{
    margin: 0;
    padding: 0;
    /* font-family: 'Cambria', sans-serif; */
    box-sizing: border-box;
}body{
    background: #3fa7e4;
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
    background: #fff;
    border-radius: 10px;
}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container textarea{
    width: 100%;
    border: 1px solid #49433a;
    outline: 0;
    padding: 10px;
    margin: 10px 0 10px;
    border-radius: 5px;
    height: 200px;
    resize: none;
}

.container button{
    width: 100%;
    height: 5px;
    background: blue;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px white;
    margin: 20px 0;
    font-weight: bolder;
    font-size: large;
    padding: 10px 0 30px 0;
}

#wordcount{
    position: absolute;
    left: 80%;
    margin: 0px 5px 10px;
    color: #868584;
}

#image{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
}

#image img{
    width: 100%;
    padding: 10px;
}

#image.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
        border-color: red;
    }
    25%{
        transform: translateX(-2px);
        border-color: red;
    }
    50%{
        transform: translateX(0);
        border-color: red;
    }
    75%{
        transform: translateX(2px);
        border-color: red;
    }
    100%{
        transform: translateX(0);
    }
    
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, 
textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus,
select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 20px rgba(30, 41, 59, 0) inset !important;
    -webkit-text-fill-color: rgb(158, 154, 154) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

